{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_block %} {% endblock %}
{% block title_block %} Scheme Details {% endblock %}
{% block style_block %} {% endblock %}
{% block body_block %}
 <div class="row">
                  <div class="col-md-6">
                                        <!-- Personal-Information -->
                                        <div class="panel panel-default panel-fill">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Personal Information</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="about-info-p">
                                                    <strong>Full Name</strong>
                                                    <br>
                                                    <p class="text-muted">Abhindandan Kedlaya</p>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Contact number</strong>
                                                    <br>
                                                    <p class="text-muted">9886117017</p>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Email</strong>
                                                    <br>
                                                    <p class="text-muted">johnathandeon@moltran.com</p>
                                                </div>
                                                <div class="about-info-p m-b-0">
                                                    <strong>Fees payable</strong>
                                                    <br>
                                                    <p class="text-muted">10,000</p>
                                                </div>
                                                <div class="about-info-p m-b-0">
                                                    <strong>Amount committed</strong>
                                                    <br>
                                                    <p class="text-muted">2,22,22,222</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Personal-Information -->

                                    </div> 
        <div class="col-md-6">
                                        <!-- Personal-Information -->
                                        <div class="panel panel-default panel-fill">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Broker Information</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="about-info-p">
                                                    <strong>Broker</strong>
                                                    <br>
                                                    <p class="text-muted">Phillip Capital</p>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Client Code</strong>
                                                    <br>
                                                    <p class="text-muted">N720304</p>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Date of a/c opening</strong>
                                                    <br>
                                                    <p class="text-muted">9/19/2014</p>
                                                </div>
                                                <div class="about-info-p m-b-0">
                                                    <strong>Trading desk E-mail</strong>
                                                    <br>
                                                    <p class="text-muted">johnathandeon@moltran.com</p>
                                                </div>
                                                <div class="about-info-p m-b-0">
                                                    <strong>Trading Desk Phone Number</strong>
                                                    <br>
                                                    <p class="text-muted">080-40458512</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Personal-Information -->

                                    </div>
</div> <!-- End row -->
{% endblock %}
{% block script_block %}

{% endblock %}